@function placeholderColor($color) {
	@return $color;
}

.text-input {
	width: 30vw;
	height: 5vh;
	border: 1px solid gray;
	border-radius: 12px;
	padding-left: 10px;
}

.text-input::placeholder {
	font-size: 15px;
	color: red;
}
